[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = https://github.com/MadLadSquad/parallel-hashmap.git
[submodule "rapidyaml"]
	path = rapidyaml
	url = https://github.com/MadLadSquad/rapidyaml
